@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e26363;
  --secondary: #63e270;
  --accent: #6376e2;
}

@layer base {
  html,
  body, #root {
    @apply w-screen min-h-screen;
  }
}
